@use '../../arya/arya-blue/variables';

// In the `use...with...` in `theme.scss`, there is no access to the variables from 
// the above theme, so we need to do the setting of variables here where we have access.
// Here, we can also set variables from other variables, which can't be done in theme.scss
$secondaryButtonBg: hsla(210, 7.9%, 45%, 1); 
$secondaryButtonHoverBg:scale-color($secondaryButtonBg, $lightness: 10%);
$secondaryButtonActiveBg:scale-color($secondaryButtonBg, $lightness: 20%);
$toggleButtonBg: $secondaryButtonBg;
$toggleButtonHoverBg: $secondaryButtonHoverBg;
$successButtonTextColor: var(--text-color);
$dangerButtonTextColor: var(--text-color);
